@import "./styles/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

/* body * {
  overflow: hidden;
} */

.navbar {
  background-color: var(--bg-color);
  color: var(--text);
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.navbar .container {
  background-color: var(--bg-color);
}

@media screen and (width < 769px) {
  .navbar-collapse {
    padding-top: 10px;
  }
}

/* Navbar toggler change*/
.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: none !important;
    background-color: var(--white);
    height: 3px !important;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
}

.navbar-toggler-icon::before {
    display: block;
    background-color: var(--white);
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;
    transform-origin: center;
}

.navbar-toggler-icon::after {
    display: block;
    background-color: var(--white);
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
    background-color: var(--black);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    opacity: 0;
}
 
.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-90deg) translateX(7px);
}


#hero,
#about,
#skills,
#skills-levelz,
#contact {
  overflow-x: hidden;
}


::-webkit-scrollbar {
  background-color: var(--bg-color);  
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
}